.span7.offset1.well
	%h6 EXPRESSION
	%br/
	%table{ cellpadding: 10 }
		%tr
			%td
				%h4 Expression system*
			%td.form-column
				%p
					= f.radio_button :system, "bacteria"
					Bacteria
					= f.radio_button :system, "mammalian"
					Mammalian
					= f.radio_button :system, "yeast"
					Yeast
					= f.radio_button :system, "insect"
					Insect
		%tr
			%td
				%h4 Vector backbone
			%td.form-column
				%p
					= f.radio_button :vector_backbone, "pET"
					pET
					= f.radio_button :vector_backbone, "pQE"
					pQE
					= f.radio_button :vector_backbone, "pcDNA"
					pcDNA
					= f.radio_button :vector_backbone, "pHHUm"
					pHHUm
					%br/
					= f.radio_button :vector_backbone, nil, id: 'other_vector_backbone_radio', checked: radio_checked?(f.object.vector_backbone) 
					Other:
					%input.input-small#other_vector_backbone_text{ value: text_input?(f.object.vector_backbone) }
		%tr
			%td
				%h4 Gene
			%td.form-column
				%p
					= f.radio_button :gene, "optimized"
					Optimized
					= f.radio_button :gene, "non_optimized"
					Non-optimized
		%tr
			%td
				%h4 Tag
			%td.form-column
				%p
					= f.radio_button :tag, "No tag"
					No tag
					= f.radio_button :tag, "His"
					His
					= f.radio_button :tag, "GST"
					GST
					= f.radio_button :tag, "MBP"
					MBP
					= f.radio_button :tag, "SUMO"
					SUMO
		%tr
			%td
				%h4 Cleavage site
			%td.form-column
				%p
					= f.radio_button :cleavage_site, "none"
					None
					= f.radio_button :cleavage_site, "factor Xa"
					Factor Xa
					= f.radio_button :cleavage_site, "thrombin"
					Thrombin
		%tr
			%td
				%h4 Expression compartment
			%td.form-column
				%p
					= f.radio_button :compartment, "cytoplasm"
					Cytoplasm
					= f.radio_button :compartment, "periplasm"
					Periplasm
					= f.radio_button :compartment, "secretion"
					Secretion
		%tr
			%td
				%h4 Solubility
			%td.form-column
				%p
					= f.radio_button :solubility, "soluble"
					Soluble
					= f.radio_button :solubility, "insoluble"
					Insoluble
					= f.radio_button :solubility, "membrane"
					Membrane
		%tr
			%td
				%h4 Expression conditions - Strain
			%td.form-column
				%p
					= f.radio_button :strain, "BL21"
					BL21
					= f.radio_button :strain, "BL21 (DE3)"
					BL21 (DE3)
					= f.radio_button :strain, "BLR (DE3)"
					BLR (DE3)
					= f.radio_button :strain, "HMS174"
					HMS174
					= f.radio_button :strain, "HMS174 (DE3)"
					HMS174 (DE3)
					%br/
					= f.radio_button :strain, "CHO-S"
					CHO-S
					= f.radio_button :strain, "HEK293"
					HEK293
					= f.radio_button :strain, "CHO-DG44"
					CHO-DG44
					= f.radio_button :strain, "PER-C6"
					PER-C6
		%tr
			%td
				%h4 Expression conditions - Method
			%td.form-column
				%p
					= f.radio_button :method, "shake flask"
					Shake flask
					= f.radio_button :method, "fermentor/bioreactor"
					Fermentor/bioreactor
					= f.radio_button :method, "wave"
					Wave
		%tr
			%td
				%h4 Expression conditions - Medium
			%td.form-column
				%p
					= f.radio_button :medium, "LB"
					LB
					= f.radio_button :medium, "MAI"
					MAI
					= f.radio_button :medium, "Riesenberg"
					Riesenberg
		%tr
			%td
				%h4 Temperature (°C)
			%td.form-column
				=f.text_field :temperature, class:"input-small", style:'height:30px;font-size:16pt'
				=f.hidden_field :status, value: "selected"

