- unless @project.others.empty?
	.span10.offset1
		.well
			%H6 MISCELLANEOUS
			- unless @project.selected_other.plasmid_unstability.blank?
				%br/
				%span.title Plasmid unstability:
				= @project.selected_other.plasmid_unstability
			- unless @project.selected_other.post_translational.blank?
				%br/
				%span.title Post-translational modification:
				= @project.selected_other.post_translational
			- unless @project.selected_other.aggregration.blank?
				%br/
				%span.title Aggregation:
				= @project.selected_other.aggregration
			- unless @project.selected_other.impurities.blank?
				%br/
				%span.title Impurities:
				= @project.selected_other.impurities[0..-2]
			- unless @project.selected_other.lyophilisation.nil?
				%br/
				%span.title Lyophilization:
				= @project.selected_other.lyophilisation? ? "yes" : "no"
			%br/
			- unless @project.selected_other.comments.blank?
				%br/
				%a.comment_link{href:'javascript:void(0)', class: 'show_comment'}
					%i.icon-comment
					= "#{@project.selected_other.comments.count} comment(s)"
				= render 'show_comments', object: @project.selected_other
			= render 'comments/new',  comment: @other_comment, object: @project.selected_other