.right-button
	%a.btn.btn-primary{ href: edit_project_path }
		%i.icon-pencil.icon-white
		Edit project
.row
	.span11{ :style => 'margin-left:40px'}
		%h1=@project.name
	%br/
	.span11.offset1{ :style => 'margin-top:20px;' }
		.well
			%h6 GENERAL INFO
			- unless @project.description.blank?
				%p=simple_format(@project.description)
			- unless @project.constructs.empty?
				%h6 CONSTRUCT
				.lead 
					= "Protein: #{@project.construct.name} (#{@project.construct.protein_family} family)"
					%br/
					Organism:
					= @project.construct.organism
				- unless @project.construct.size.blank?
					%span.title Size:
					= "#{@project.construct.size} Da"
				- unless @project.construct.pi.blank?
					%br/
					%span.title PI:
					= @project.construct.pi
				- unless @project.construct.nb_cystein.blank?
					%br/
					%span.title Number of cysteins:
					= @project.construct.nb_cystein
				%br/
				%br/
				- unless @project.construct.sequence.blank?
					.lead Sequence:
					%pre= @project.construct.sequence	

	- unless project_managers.blank? && involved_people.blank?
		.span5.offset1
			.well
				%h6 PX
				- unless project_managers.blank?
					%span.title	Project manager(s):
					= project_managers
					%br/
				- unless involved_people.blank?
					%span.title	Involved people:
					= involved_people
	.span5.offset1
		.well
			%h6 CUSTOMER
			%span.title	Company:
			= @project.company
			%br/
			- unless @project.contact.blank?
				%span.title	Contact(s):
				= @project.contact
				%br/
			- unless @project.contact_info.blank?	
				%i.icon-briefcase 
				%span.title Contact info:
				= @project.contact_info

	- unless @project.lab_books.blank? 				
		.span5.offset1
			.well
				%h6 LAB BOOKS
				= @project.lab_books

	- unless @project.expressions.empty?
		.span11.offset1
			.well
				%H6 EXPRESSION
				- unless @project.selected_expression.system.blank?
					%span.title System:
					= @project.selected_expression.system
				- unless @project.selected_expression.vector_backbone.blank?
					%br/
					%span.title Vector backbone:
					= @project.selected_expression.vector_backbone
				- unless @project.selected_expression.gene.blank?
					%br/
					%span.title Gene:
					= @project.selected_expression.gene
				- unless @project.selected_expression.tag.blank?
					%br/
					%span.title Tag:
					= @project.selected_expression.tag
				- unless @project.selected_expression.cleavage_site.blank?
					%br/
					%span.title Cleavage site:
					= @project.selected_expression.cleavage_site
				- unless @project.selected_expression.compartment.blank?
					%br/
					%span.title Compartment:
					= @project.selected_expression.compartment
				- unless @project.selected_expression.solubility.blank?
					%br/
					%span.title Solubility:
					= @project.selected_expression.solubility
				- unless @project.no_expression_conditions?
					%br/
					%br/
					%h6 Expression conditions
					- unless @project.selected_expression.strain.blank?
						%br/
						%span.title Strain:
						= @project.selected_expression.strain
					- unless @project.selected_expression.method.blank?
						%br/
						%span.title Method:
						= @project.selected_expression.method
					- unless @project.selected_expression.medium.blank?
						%br/
						%span.title Medium:
						= @project.selected_expression.medium
					- unless @project.selected_expression.temperature.blank?
						%br/
						%span.title Temperature:
						= "#{@project.selected_expression.temperature} °C"

	- unless @project.purifications.empty?
		.span11.offset1
			.well
				%H6 PURIFICATION
				- unless @project.selected_purification.lysis.blank?
					%br/
					%span.title Lysis:
					= @project.selected_purification.lysis
				- unless @project.selected_purification.lysis_buffer.blank?
					%br/
					%span.title Lysis buffer:
					= @project.selected_purification.lysis_buffer	
				- unless @project.selected_purification.clarification.blank?
					%br/
					%span.title Clarification:
					= @project.selected_purification.clarification
				- unless @project.selected_purification.clarification.blank?
					%br/
					%span.title Preparation extract:
					= @project.selected_purification.preparation_extract
				- unless @project.no_refolding?
					%br/
					%br/
					%h6 REFOLDING
					- unless @project.selected_purification.refolding_mode.blank?
						%br/
						%span.title Refolding mode:
						= @project.selected_purification.refolding_mode
					- unless @project.selected_purification.refolding_buffer.blank?
						%br/
						%span.title Refolding buffer:
						= @project.selected_purification.refolding_buffer
					- unless @project.selected_purification.presence_of.blank?
						%br/
						%span.title Presence of:
						= @project.selected_purification.presence_of[0..-2]
				- unless @project.no_chromatography?
					%br/
					%br/
					%h6 CHROMATOGRAPHY
					- unless @project.selected_purification.chromatography.blank?
						%br/
						%span.title Method:
						= @project.selected_purification.chromatography
					- unless @project.selected_purification.chromato_resins.blank?
						%br/
						%span.title Resins:
						= @project.selected_purification.chromato_resins
					%br/
				- unless @project.selected_purification.endotoxin.blank?
					%br/
					%span.title Endotoxin removal step:
					= @project.selected_purification.endotoxin
				- unless @project.selected_purification.final_buffer.blank?
					%br/
					%span.title Final buffer:
					= @project.selected_purification.final_buffer
				- unless @project.selected_purification.concentration.blank?
					%br/
					%span.title Concentration:
					= @project.selected_purification.concentration
				- unless @project.selected_purification.final_filtration.blank?
					%br/
					%span.title Final filtration:
					= @project.selected_purification.final_filtration
				- unless @project.selected_purification.final_productivity.blank?
					%br/
					%span.title Final productivity:
					= @project.selected_purification.final_productivity
	- unless @project.others.empty?
		.span11.offset1
			.well
				%H6 MISCELLANEOUS
				- unless @project.selected_other.plasmid_unstability.blank?
					%br/
					%span.title Plasmid unstability:
					= @project.selected_other.plasmid_unstability
				- unless @project.selected_other.post_translational.blank?
					%br/
					%span.title Post-translational modification:
					= @project.selected_other.post_translational
				- unless @project.selected_other.aggregration.blank?
					%br/
					%span.title Aggregation:
					= @project.selected_other.aggregration
				- unless @project.selected_other.impurities.blank?
					%br/
					%span.title Impurities:
					= @project.selected_other.impurities[0..-2]
				- unless @project.selected_other.lyophilisation.nil?
					%br/
					%span.title Lyophilization:
					= @project.selected_other.lyophilisation? ? "yes" : "no"