.right-button
	%a.btn.btn-primary{ href: edit_project_path }
		%i.icon-pencil.icon-white
		Edit project
.row
	.span11{ :style => 'margin-left:40px'}
		%h1=@project.name
	= render 'show_info'
	= render 'show_people'		
	= render 'show_customer'
	= render 'show_lab_books'
	= render 'show_expression'
	= render 'show_purification'
	= render 'show_misc'